body{
    font-family: sans-serif;
}

#Navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image:linear-gradient(to right,#2c2c2c,#000000) ;
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline:none !important;
}

#Banner{
    background-image:linear-gradient(to right,#2c2c2c,#000000) ;
    padding-top: 5% !important;
    color: #ffffff;
}

.bottom-img{
    width: 100%;
}

#Services{
    padding: 80px;
}
.Services-img1{
    width: 600px;
    height: 800px;
    margin-top: 20px;
}
.Services-img2{
    width: 600px;
    height: 800px;
    margin-top: 20px;
    margin-left: 600px;}

.title::before{
    content: "";
    background:#2c2c2c ;
    height: 5px;
    width: 200px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   transform: translateY(63px);
}
.title::after{
    content: "";
    background:#2c2c2c ;
    height: 10px;
    width: 50px;
   margin-left: auto;
   margin-bottom: 40px;
   margin-right: auto;
   display: block;
   transform: translateY(8px);
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-bottom: 15px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
    
  }

  #social-icons {
    background: #f8f9fa;
    padding: 100px 0;
    margin-bottom: 20px;

  }

  #social p
  {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;

  }

  .social-icons img
  {
    width:60px;
    transition: 0.5s;
    margin-bottom: 30px;
  }
  .social-icons a:hover img
  {
    transform: translateY(-10px);
  }

 #footer 
 {
    background-image: linear-gradient(to right, #2c2c2c,#000000);
    color: #fff;

 } 

 .footer-img {
    width: 100%;
 }
 .footer-box {
    padding: 20px;
 }
 .footer-box img
 {
    width: 100px;
    margin-bottom: 20px;
 }

 .footer-box .fa-solid {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #2c2c2c,#000000);

 }
 .footer-box .form-control
 {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
 }

 .footer-box .btn-primary
 {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #2c2c2c,#000000);

 }

 hr{
    background-color: #fff;
 }
 .copyright
 {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
 }